#{extends 'main.html' /} #{set title:'Home' /}
<section>
    <table class="numericData">
        <thead>
            <tr>
                <th colspan="6">Numeriek</th>
            </tr>
        </thead>
        <tbody>
            #{list items:numericTable, as:'row'}
            <tr>
                #{list items:row, as:'column'}
                <td>${column}</td> 
                #{/list}
            </tr>
            #{/list}
        </tbody>
    </table>

    <table class="ordinalData">
        <thead>
            <tr>
                <th colspan="6">Ordinaal</th>
            </tr>
        </thead>
        <tbody>
            #{list items:ordinalTable, as:'row'}
            <tr>
                #{list items:row, as:'column'}
                <td>${column}</td> 
                #{/list}
            </tr>
            #{/list}
        </tbody>
    </table>
</section>
<section>
	<table class="oneRModel">
		<thead>
			<tr>
				<th colspan="6">1R Model</th>
			</tr>
		</thead>
		<tbody>
			#{list items:oneRModelTable, as:'row'}
			<tr>
				#{list items:row, as:'column'}
				<td>${column}</td> #{/list}
			</tr>
			#{/list}
		</tbody>
	</table>
	<p class="oneRModelBestRule">Beste keuze is de rule van ${oneRModelBestRule}</p>
</section>
<section>
    <table class="naiveBayesNominal">
        <thead>
            <tr>
                <th colspan="15">Naive Bayes Nominal</th>
            </tr>
        </thead>
        <tbody>
            <tr>
                <td colspan="3">Haarkleur</td> 
                <td colspan="3">Gewicht</td> 
                <td colspan="3">Lengte</td> 
                <td colspan="3">Lotion</td> 
                <td colspan="3">Resultaat</td>
            </tr>
            #{list items:bayesTableNominal, as:'row'}
            <tr>
                #{list items:row, as:'column'}
                <td>${column}</td> 
                #{/list}
            </tr>
            #{/list}
        </tbody>
    </table>
</section>
<section>
	<p>Invoer = ${valuesForLikeliHood}</p>
	<p>LikeliHood(Merkbaar) = ${likeliHoodForMerkbaar}</p>
	<p>LikeliHood(Gering) = ${likeliHoodForGering}</p>
	<p>Probability(Merkbaar) = ${probabilityForMerkbaar}%</p>
	<p>Probability(Gering) = ${probabilityForGering}%</p>
</section>

<section>
    <h2>Statistieke gegevens</h2>
    #{list items:statisticInfo.keySet(), as:'key'}
    <b>${key}</b><br/>
        #{list items:statisticInfo.get(key), as:'item'}
            ${item}
            <br/>
        #{/list}
        <br/>
    #{/list}
</section>
