#{extends 'main.html' /}
#{set title:'Home' /}

<table border="1" style="float: left;">
    <thead>
    	<tr>
		    <th colspan="6">Numeriek</th>
	    </tr>
    </thead>
    <tbody>
        #{list items:numericTable, as:'row'}
        <tr>
            #{list items:row, as:'column'}
                <td>
                    ${column}
                </td>
            #{/list}
        </tr>
        #{/list}
    </tbody>
</table>
<table border="1" style="float: left; margin-left: 50px">
    <thead>
    	<tr>
		    <th colspan="6">Ordinaal</th>
	    </tr>
    </thead>
    <tbody>
        #{list items:ordinalTable, as:'row'}
        <tr>
            #{list items:row, as:'column'}
                <td>
                    ${column}
                </td>
            #{/list}
        </tr>
        #{/list}
    </tbody>
</table>